.Order .total {
  text-align: right;
  font-size: 22px;
  padding: 5px;
}

.Order .order-line {
  display: flex;
}

.Order .order-line button {
  font-size: 26px;
  background: #dc3545;
  color: white;
  border: 0;
  border-radius: 5px;
  margin: 5px;
  padding: 1px 10px;
}
