.App .ticket-build {
  display: flex;
}

.App .menu-pos {
  flex: 2;
}

.App .ticket {
  flex: 1;
  margin: 5px;
}

.App .ticket .commands {
  display: flex;
}

.App .ticket .commands button {
  cursor: pointer;
  flex: 1;
  line-height: 50px;
  border: 1px #333 solid;
  margin: 5px;
}
