.PosUi {
  display: flex;
}

.PosUi .pos-menu {
  flex: 3;
}

.PosUi .ticket {
  flex: 2;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.PosUi .ticket .Order {
  border-bottom: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.PosUi .ticket .Order .total {
  margin-top: auto;
}

.PosUi .ticket .commands {
  display: flex;
  margin-top: auto;
}

.PosUi .ticket .commands button {
  outline: 0;
  flex: 1;
  line-height: 50px;
  margin: 0 5px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
}

.PosUi .ticket .commands button.send {
  background: #28a745;
}

.PosUi .ticket .commands button.cancel {
  background: #dc3545;
}

